body {
	font-family: Arial, sans-serif;
	background-color: #f2f2f2;
	margin: 0;
	padding: 0;
}
.dashboard {
	max-width: 600px;
	margin: 50px auto;
	padding: 20px;
	background-color: #fff;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
	border-radius: 5px;
}
.welcome-message {
	text-align: center;
	font-size: 24px;
	margin-bottom: 20px;
}
.options {
	list-style: none;
	padding: 0;
}
.options li {
	margin-bottom: 10px;
}
.options a {
	display: block;
	padding: 10px;
	background-color: #007BFF;
	color: #fff;
	text-align: center;
	text-decoration: none;
	border-radius: 5px;
}
.options a:hover {
	background-color: #0056b3;
}

.botoes {
	background-color: #0056b3;
	display: inline-flex;
	align-items: flex-start;
	justify-content: space-between;
}